<% provide(:title, 'Quests') %>
<h1>Quests</h1>

<%= form_tag quests_path, :method => 'get', :class => "form-horizontal" do %>

     <%= hidden_field_tag :direction, params[:direction] %>
     <%= hidden_field_tag :sort, params[:sort] %>
     
      <div class="col-xs-4">
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control", 
          placeholder: "Search in title" %>
         
          <span class="input-group-btn">
          <%= submit_tag "Search", :name => nil, class: "btn btn-primary"%>
          </span>


        </div>

     

        <%= link_to "Advanced Search", new_search_path, class: "top-buffer" %>
       

      </div>

 
<% end %>
 
 


<%= render 'shared/quests_table' %>
