<div class="row">
  <div class="col-md-8">
    <% if @quests.any? %>
      <h3>Quests (<%= @quests.count %>)</h3>
    <% end %>
  </div>
</div>

<table id="quests_table" class="table table-condensed table-hover table-bordered table-responsive"> 
<!--<table > -->
  
  <tr>
    <th><%= sortable "title", "Title"        %>   </th>
    <th><%= sortable "reward", "Reward"       %>   </th>
    <th><%= sortable "source", "Source"     %>   </th>    
    <th><%= sortable "destination", "Destination"     %>   </th>
    <th><%= sortable "quest_giver_id", "Quest Giver"     %>   </th>
    <th><%= sortable "created_at", "Created Time"   %>    </th>
  </tr>
  
<% @quests.each do |quest| %>
  <tr  onclick="location.href='<%= quest_path(quest.id) %>'", 
      style="cursor: pointer">
    <td><%= quest.title %></td>
    <td><%= quest.reward %></td>
    <td><%= quest.source %></td>
    <td><%= quest.destination %></td>
    <td><%= quest.quest_giver == nil ? 
  "System" : quest.quest_giver.name %></td>


    <td><%= time_ago_in_words(quest.created_at) + " ago" %>
  </tr>
<% end %>
</table>



<%= will_paginate @quests %>
