<li id="quest-<%= delivery_quest.id %>">

  
  <span class="title"><%= delivery_quest.id.to_s + ": " + delivery_quest.title %></span>
  <span class="content">Given by: <%= delivery_quest.quest_giver == nil ? 
  "System" : delivery_quest.quest_giver.name %> </span>
  <span class="content">Accepted by: <%= delivery_quest.quester == nil ? 
  "Nobody" : delivery_quest.quester.name %> </span>
  <span class="content">Reward: <%= delivery_quest.reward %> </span>
  <span class="content">From <%= delivery_quest.source %> to <%= delivery_quest.destination %>
  </span>
  
  <span class="timestamp">
    Posted <%= time_ago_in_words(delivery_quest.created_at) %> ago.
  </span>
</li>