<h1><%= @delivery_quest.title %></h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div><p class="quest_description"><%= @delivery_quest.description %></p></div>
      <div>
	<p>Reward: <%= @delivery_quest.reward %></p>
	<p>Quest Giver: <%= @delivery_quest.quest_giver.name %></p>
      </div>
	<% if @delivery_quest.quester && @delivery_quest.quester != current_user %>
	<p>Someone else has already accepted this quest</p>
	<% elsif @delivery_quest.quester %>
	<!-- TODO -->
	  <%= form_for @delivery_quest do |f| %>
	  <%= f.submit "Complete Quest", class: "btn btn-primary" %>
	  <% end %>	
	<% else %>
	<div>
	  <%= form_for @delivery_quest do |f| %>
	  <%= f.hidden_field :quester_id, value: current_user.id %>
	  <%= f.submit "Accept Quest", class: "btn btn-primary" %>
	  <% end %>
	</div>
	<% end %>

    </div>
  </div>
