<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @delivery_quest.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @delivery_quest.description %>
</p>

<p>
  <strong>Reward:</strong>
  <%= @delivery_quest.reward %>
</p>

<%= link_to 'Edit', edit_delivery_quest_path(@delivery_quest) %> |
<%= link_to 'Back', delivery_quests_path %>
